<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" parallel="true" thread-count="3">
    <test name="Main_tests" >
        <packages>
            <package name="com.stormnet.tests.functionalities.*"/>
            <package name="com.stormnet.tests.yandexMail_tests.*"/>
        </packages>
    </test>
</suite>